/* Codigo Login */
.container-login{
    /* width: 100vh; */
    height:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.padre{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.botones{
display: flex;
justify-content: space-evenly;
margin-top: 15px;
}
.boton-registro, .boton-usuario{
    text-decoration: none;
    color:azure;
}
.boton-registro:hover, .boton-usuario:hover{
    text-decoration: none;
    color:black;
}


/* Fuentes google
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/

/* body */
body {
    background-color: #ebebf0;
}

/*Header*/
.cabecera {
    margin-top:3%;
    margin-left: 50px;
}
.cuidadano-digital {
    height: 100px;
    background-color:#354052;
}
.linea-azul {
    background-color:#2699fb;
    height: 10px;
}
/*Contacto */
.nosotros {
    color:#2699fb;
}

.bandera {
    margin-top:1%;
    width: 120px;
    border-radius:50%;
}
/* Navegacion */
.navbar {
    background-color: #37373f;
    color: #01AAE3;
}


/*Footer*/
.footer {
    padding-top: 10px;
    background-color: #37373f;
    color: #fff;
}
.ispc {
    border-radius:50%;
}
.copy{
    background: #101010;
    color: #c7c7c7;
    text-align:center;
    
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.copy a:hover{
    color: #c7c7c7;
}

.information a{
    text-decoration: none;
    color: #f9f9f9;
}



.information a:hover{
    color: #c7c7c7;
}